.center-it() {
  max-width: 960px;
  width: 95%;
  margin: 0 auto;
}

.button(@bgcolor, @fcolor: inherit, @padding: 5px) {
  background-color: darken(@bgcolor, 10%);
  padding: @padding (@padding * 2);
  border-radius: 4px;
  color: @fcolor;

  &:hover {
    background-color: lighten(@bgcolor, 10%);
  }
}
