@import (reference) "functions";

@bg-color: #f39c12;

header {
  background-color: @bg-color;
  color: #FFF;

  .content {
    .center-it();
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .left {
      flex-basis: 50%;

      padding: 10px 0;
    }

    .right {
      flex-basis: 50%;

      ul {
        text-align: right;

        li {
          display: inline-block;

          a {
            .button(@bg-color);
          }
        }
      }
    }
  }
}
