@import (reference) "../functions";

.list {

  .header, .books .book {
    display: flex;
    align-items: center;

    .accessno {
      flex-basis: 100px;
    }

    .title {
      flex-grow: 1;
    }

    .actions {
      flex-basis: 125px;
      text-align: center;
    }
  }

  .header {
    color: #9E9E9E;
    margin-bottom: 10px;
    font-size: 0.8em;

    .accessno, .title {
      padding-left: 25px;
    }

    .title {
      text-align: center;
    }

    .actions {
      padding: 0 25px;
    }
  }

  .books {
    background-color: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.25);

    .book {
      border-bottom: 1px solid #ECECEC;

      .accessno, .title {
        padding: 20px 0 20px 25px;
      }

      .accessno {
        font-size: .9em;
        color: #9E9E9E;
      }

      .title {
        font-weight: bold;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {

        .actions button {
          &.edit {
            &:after, &:before {
              border-right-color: #009688;
              border-left-color: #009688;
            }
          }

          &.delete {
            &:after, &:before {
              background-color: #96000E;
            }
          }
        }
      }

      .actions {
        padding: 0 25px;

        button {

          &.edit {
            .action-button(@type: edit);
          }

          &.delete {
            .action-button(@type: delete);
          }
        }
      }
    }
  }
}
